* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Main Container */
.app-container {
  background-color: white;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

/* Background Layers */
.background-layer-1 {
  position: absolute;
  height: 1075px;
  left: 0;
  top: 354px;
  width: 1518.006px;
}

.background-layer-2 {
  position: absolute;
  height: 700px;
  left: -18px;
  top: 354px;
  width: 2175px;
}

.background-image-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: -0.09%;
}

.background-image-wrapper-2 {
  position: absolute;
  bottom: 0;
  left: -0.05%;
  right: 0;
  top: 0;
}

.background-image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
}

/* Header Sections */
.header-left {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  display: flex;
  gap: 10px;
  height: 40px;
  align-items: center;
  left: 0;
  padding: 10px;
  right: 168px;
  top: 0;
}

.header-title {
  font-family: 'Product Sans', sans-serif;
  font-weight: 500;
  font-style: italic;
  line-height: normal;
  font-size: 16px;
  color: black;
  width: 252px;
  white-space: pre-wrap;
}

.header-right {
  position: absolute;
  background-color: #010f1c;
  display: flex;
  gap: 10px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  right: 0;
  top: 0;
  width: 168px;
}

.header-date {
  font-family: 'Product Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  line-height: normal;
  font-size: 12px;
  color: white;
}

/* Main Title */
.main-title {
  position: absolute;
  font-family: 'Whyte Inktrap', sans-serif;
  line-height: 1;
  left: 25px;
  font-size: 64px;
  color: black;
  top: 100px;
  white-space: nowrap;
}

.main-title p {
  margin-bottom: 0;
}

/* Welcome Badge */
.welcome-badge {
  position: absolute;
  background-color: #010f1c;
  border: 1px solid black;
  display: flex;
  gap: 5px;
  height: 27px;
  align-items: center;
  left: 25px;
  padding: 10px 0 10px 10px;
  top: 228px;
  width: 202px;
}

.welcome-text {
  font-family: 'Product Sans', sans-serif;
  font-weight: 500;
  font-style: italic;
  line-height: 1;
  font-size: 16px;
  color: white;
}

.welcome-icon {
  width: 27.071px;
  height: 27.071px;
}

.icon-image {
  width: 100%;
  height: 100%;
}

/* Decorative Elements */
.decoration-right-1 {
  position: absolute;
  height: 174.999px;
  right: -42px;
  top: 156px;
  width: 175px;
}

.decoration-image-wrapper {
  position: absolute;
  bottom: 0;
  left: -0.57%;
  right: 0;
  top: 0;
}

.decoration-image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
}

.decoration-rotated {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 155px;
}

.decoration-rotated-inner {
  transform: rotate(270deg);
}

.decoration-group-1 {
  height: 134px;
  position: relative;
  width: 175px;
}

/* Block Containers */
.block-container-1 {
  position: absolute;
  height: 44.176px;
  right: 127px;
  top: 284px;
  width: 104px;
}

.block-container-2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 334.02px;
  top: 322px;
}

.block-container-2-inner {
  transform: rotate(158deg) scaleY(-1);
}

.block-image-wrapper {
  position: absolute;
  inset: -1.15% -0.92% -1.16% -0.5%;
}

.block-image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
}

/* Letter Groups - C (first) */
.letter-group-c {
  position: absolute;
  right: 152px;
  top: 351px;
}

.letter-block-c {
  position: absolute;
  height: 74px;
  right: 152px;
  top: 351px;
  width: 75px;
}

.letter-block-image-wrapper {
  position: absolute;
  inset: -0.68% -0.67%;
}

.letter-text-c {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 214.11px;
  top: 353.98px;
  transform: translateX(100%);
}

.letter-text-rotated {
  transform: rotate(24deg);
}

.letter-text {
  font-family: 'Product Sans', sans-serif;
  font-weight: 500;
  font-style: italic;
  line-height: normal;
  font-size: 36px;
  color: black;
}

/* Letter Groups - S */
.letter-group-s {
  position: absolute;
  right: 73px;
  top: 345px;
}

.letter-block-s {
  position: absolute;
  height: 74px;
  right: 73px;
  top: 345px;
  width: 75px;
}

.letter-text-s {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 131px;
  top: 349px;
  transform: translateX(100%);
}

/* Block Decorations */
.block-decoration-1 {
  position: absolute;
  height: 81px;
  right: 233px;
  top: 339px;
  width: 104px;
}

.block-decoration-2 {
  position: absolute;
  height: 71px;
  right: 39px;
  top: 175px;
  width: 104px;
}

.block-decoration-3 {
  position: absolute;
  height: 50.761px;
  right: 3px;
  top: 238px;
  width: 36px;
}

.block-decoration-4 {
  position: absolute;
  height: 83px;
  right: 44px;
  top: 245px;
  width: 85px;
}

.block-decoration-5 {
  height: 44.176px;
  position: relative;
  width: 104px;
}

/* Letter Groups - M */
.letter-group-m {
  position: absolute;
  right: 290px;
  top: 433px;
}

.letter-block-m {
  position: absolute;
  height: 76px;
  right: 290px;
  top: 433px;
  width: 77px;
}

.letter-text-m {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 348px;
  top: 429px;
  transform: translateX(100%);
}

/* Letter Groups - A */
.letter-group-a {
  position: absolute;
  right: 218px;
  top: 413px;
}

.letter-block-a {
  position: absolute;
  height: 76px;
  right: 218px;
  top: 413px;
  width: 77px;
}

.letter-text-a {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 279px;
  top: 416px;
  transform: translateX(100%);
}

/* Letter Groups - N */
.letter-group-n {
  position: absolute;
  right: 167px;
  top: 449px;
}

.letter-block-n {
  position: absolute;
  height: 74px;
  right: 167px;
  top: 449px;
  width: 75px;
}

.letter-text-n {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 226px;
  top: 452px;
  transform: translateX(100%);
}

/* Letter Groups - I */
.letter-group-i {
  position: absolute;
  right: 97px;
  top: 423px;
}

.letter-block-i {
  position: absolute;
  height: 74px;
  right: 97px;
  top: 423px;
  width: 75px;
}

.letter-text-i {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 149px;
  top: 430px;
  transform: translateX(100%);
}

/* Letter Groups - C (second) */
.letter-group-c2 {
  position: absolute;
  right: 63px;
  top: 475px;
}

.letter-block-c2 {
  position: absolute;
  height: 74px;
  right: 63px;
  top: 475px;
  width: 75px;
}

.letter-text-c2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 121px;
  top: 479px;
  transform: translateX(100%);
}

/* Letter Groups - X */
.letter-group-x {
  position: absolute;
  right: 1px;
  top: 430px;
}

.letter-block-x {
  position: absolute;
  height: 76px;
  right: 1px;
  top: 430px;
  width: 77px;
}

.letter-text-x {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 62px;
  top: 433px;
  transform: translateX(100%);
}

/* Bottom Decorations */
.bottom-decoration-1 {
  position: absolute;
  display: flex;
  height: 82px;
  align-items: center;
  justify-content: center;
  right: 129px;
  top: 512px;
  width: 58px;
}

.bottom-decoration-inner {
  transform: rotate(180deg) scaleY(-1);
}

.bottom-block-1 {
  height: 82px;
  position: relative;
  width: 58px;
}

.bottom-decoration-2 {
  position: absolute;
  height: 68.94px;
  right: 184px;
  top: 513px;
  width: 111px;
}

/* Mobile Responsive Design */
@media (max-width: 768px) {
  .app-container {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  /* Scale all elements proportionally */
  .header-left {
    right: 150px;
    height: 35px;
    padding: 8px;
  }
  
  .header-title {
    font-size: 14px;
  }
  
  .header-right {
    width: 150px;
    height: 35px;
    padding: 8px;
  }
  
  .header-date {
    font-size: 11px;
  }
  
  .main-title {
    font-size: 48px;
    left: 20px;
    top: 60px;
  }
  
  .welcome-badge {
    left: 20px;
    top: 155px;
    width: 190px;
    height: 25px;
  }
  
  .welcome-text {
    font-size: 14px;
  }
  
  .welcome-icon {
    width: 24px;
    height: 24px;
  }
  
  /* Background layers scale */
  .background-layer-1 {
    height: 700px;
    width: 900px;
    top: 200px;
    left: -80px;
  }
  
  .background-layer-2 {
    height: 500px;
    width: 1200px;
    top: 200px;
    left: -120px;
  }
  
  /* Decorative elements */
  .decoration-right-1 {
    height: 120px;
    width: 120px;
    right: -30px;
    top: 55px;
  }
  
  .decoration-rotated {
    right: 0;
    top: 55px;
  }
  
  .decoration-group-1 {
    height: 95px;
    width: 120px;
  }
  
  /* Block containers */
  .block-container-1 {
    height: 36px;
    width: 85px;
    left: 58%;
    top: 185px;
  }
  
  .block-decoration-1 {
    height: 60px;
    width: 78px;
    right: 150px;
    top: 220px;
  }
  
  .block-decoration-2 {
    height: 55px;
    width: 80px;
    right: 32px;
    top: 85px;
  }
  
  .block-decoration-3 {
    height: 40px;
    width: 28px;
    right: 0;
    top: 145px;
  }
  
  .block-decoration-4 {
    height: 62px;
    width: 62px;
    right: 34px;
    top: 135px;
  }
  
  .block-decoration-5 {
    height: 36px;
    width: 85px;
  }
  
  /* Letter blocks - C (first) */
  .letter-group-c {
    right: 120px;
    top: 250px;
  }
  
  .letter-block-c {
    height: 58px;
    width: 58px;
    right: 120px;
    top: 250px;
  }
  
  .letter-text-c {
    right: 165px;
    top: 252px;
  }
  
  /* Letter blocks - S */
  .letter-group-s {
    right: 52px;
    top: 235px;
  }
  
  .letter-block-s {
    height: 58px;
    width: 58px;
    right: 52px;
    top: 235px;
  }
  
  .letter-text-s {
    right: 95px;
    top: 237px;
  }
  
  /* Letter blocks - M */
  .letter-group-m {
    right: auto;
    left: 30px;
    top: 320px;
  }
  
  .letter-block-m {
    height: 58px;
    width: 58px;
    right: auto;
    left: 30px;
    top: 320px;
  }
  
  .letter-text-m {
    right: auto;
    left: 36px;
    top: 322px;
    transform: translateX(0);
  }
  
  /* Letter blocks - A */
  .letter-group-a {
    right: auto;
    left: 92px;
    top: 340px;
  }
  
  .letter-block-a {
    height: 58px;
    width: 58px;
    right: auto;
    left: 92px;
    top: 340px;
  }
  
  .letter-text-a {
    right: auto;
    left: 98px;
    top: 342px;
    transform: translateX(0);
  }
  
  /* Letter blocks - N */
  .letter-group-n {
    right: auto;
    left: 154px;
    top: 360px;
  }
  
  .letter-block-n {
    height: 58px;
    width: 58px;
    right: auto;
    left: 154px;
    top: 360px;
  }
  
  .letter-text-n {
    right: auto;
    left: 160px;
    top: 362px;
    transform: translateX(0);
  }
  
  /* Letter blocks - I */
  .letter-group-i {
    right: 90px;
    left: auto;
    top: 330px;
  }
  
  .letter-block-i {
    height: 58px;
    width: 58px;
    right: 90px;
    left: auto;
    top: 330px;
  }
  
  .letter-text-i {
    right: 125px;
    left: auto;
    top: 335px;
  }
  
  /* Letter blocks - C (second) */
  .letter-group-c2 {
    right: auto;
    left: 182px;
    top: 385px;
  }
  
  .letter-block-c2 {
    height: 58px;
    width: 58px;
    right: auto;
    left: 182px;
    top: 385px;
  }
  
  .letter-text-c2 {
    right: auto;
    left: 188px;
    top: 387px;
    transform: translateX(0);
  }
  
  /* Letter blocks - X */
  .letter-group-x {
    right: 25px;
    left: auto;
    top: 355px;
  }
  
  .letter-block-x {
    height: 58px;
    width: 58px;
    right: 25px;
    left: auto;
    top: 355px;
  }
  
  .letter-text-x {
    right: 62px;
    left: auto;
    top: 357px;
  }
  
  /* Bottom decorations */
  .bottom-decoration-1 {
    height: 62px;
    width: 45px;
    right: 95px;
    left: auto;
    top: 245px;
  }
  
  .bottom-block-1 {
    height: 62px;
    width: 45px;
  }
  
  .bottom-decoration-2 {
    height: 55px;
    width: 85px;
    right: auto;
    left: 60px;
    top: 190px;
  }
  
  .block-container-2 {
    right: auto;
    left: 48px;
    top: 205px;
  }
  
  /* Letter text scale proportionally */
  .letter-text {
    font-size: 30px;
  }
  
  .letter-text-rotated {
    transform: rotate(20deg);
  }
}

/* Phone portrait mode - matches uploaded screenshot */
@media (max-width: 480px) {
  .app-container {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  /* Header adjustments */
  .header-left {
    right: 130px;
    height: 30px;
    padding: 6px 8px;
  }
  
  .header-title {
    font-size: 12px;
    width: auto;
  }
  
  .header-right {
    width: 130px;
    height: 30px;
    padding: 6px 8px;
  }
  
  .header-date {
    font-size: 9px;
  }
  
  /* Main title */
  .main-title {
    font-size: 40px;
    left: 10px;
    top: 55px;
    line-height: 0.95;
  }
  
  /* Welcome badge */
  .welcome-badge {
    left: 10px;
    top: 145px;
    width: 170px;
    height: 24px;
    padding: 6px 0 6px 8px;
  }
  
  .welcome-text {
    font-size: 12px;
  }
  
  .welcome-icon {
    width: 22px;
    height: 22px;
  }
  
  /* Background elements - keep visible */
  .background-layer-1 {
    height: 600px;
    width: 800px;
    top: 190px;
    left: -100px;
  }
  
  .background-layer-2 {
    height: 400px;
    width: 1000px;
    top: 190px;
    left: -150px;
  }
  
  /* Decorative elements - scale down */
  .decoration-right-1 {
    height: 100px;
    width: 100px;
    right: -25px;
    top: 50px;
  }
  
  .decoration-rotated {
    right: 0;
    top: 50px;
  }
  
  .decoration-group-1 {
    height: 80px;
    width: 100px;
  }
  
  /* Block containers */
  .block-container-1 {
    height: 32px;
    width: 75px;
    right: 85px;
    top: 130px;
    left: auto;
    transform: none;
  }
  
  .block-decoration-1 {
    height: 52px;
    width: 68px;
    right: 270px;
    top: 200px;
    left: auto;
  }
  
  .block-decoration-2 {
    height: 48px;
    width: 70px;
    right: 28px;
    top: 75px;
  }
  
  .block-decoration-3 {
    height: 35px;
    width: 24px;
    right: 0;
    top: 130px;
  }
  
  .block-decoration-4 {
    height: 55px;
    width: 55px;
    right: 30px;
    top: 120px;
  }
  
  .block-decoration-5 {
    height: 32px;
    width: 75px;
  }
  
  /* Letter blocks - C (first) - top right */
  .letter-group-c {
    right: 105px;
    left: auto;
    top: 100px;
  }
  
  .letter-block-c {
    height: 52px;
    width: 52px;
    right: 105px;
    left: auto;
    top: 100px;
  }
  
  .letter-text-c {
    right: 145px;
    left: auto;
    top: 102px;
    transform: translateX(100%);
  }
  
  /* Letter blocks - S - top right */
  .letter-group-s {
    right: 100px;
    left: auto;
    top: 10px;
  }
  
  .letter-block-s {
    height: 52px;
    width: 52px;
    right: 42px;
    left: auto;
    top: 185px;
  }
  
  .letter-text-s {
    right: 83px;
    left: auto;
    top: 187px;
    transform: translateX(100%);
  }
  
  /* Letter blocks - M - middle left */
  .letter-group-m {
    right: auto;
    left: 50px;
    top: 10px;
  }
  
  .letter-block-m {
    height: 52px;
    width: 52px;
    right: auto;
    left: 20px;
    top: 258px;
  }
  
  .letter-text-m {
    right: auto;
    left: 30px;
    top: 260px;
    transform: translateX(0);
  }
  
  /* Letter blocks - A - middle */
  .letter-group-a {
    right: auto;
    left: 50px;
    top: -20px
  }
  
  .letter-block-a {
    height: 52px;
    width: 52px;
    right: auto;
    left: 82px;
    top: 275px;
  }
  
  .letter-text-a {
    right: auto;
    left: 95px;
    top: 277px;
    transform: translateX(0);
  }
  
  /* Letter blocks - N - middle */
  .letter-group-n {
    right: auto;
    left: 50px;
    top: -30px;
  }
  
  .letter-block-n {
    height: 52px;
    width: 52px;
    right: auto;
    left: 138px;
    top: 290px;
  }
  
  .letter-text-n {
    right: auto;
    left: 150px;
    top: 292px;
    transform: translateX(0);
  }
  
  /* Letter blocks - I - middle right */
  .letter-group-i {
    right: 60px;
    left: auto;
    top: 10px;
  }
  
  .letter-block-i {
    height: 52px;
    width: 52px;
    right: 78px;
    left: auto;
    top: 263px;
  }
  
  .letter-text-i {
    right: 110px;
    left: auto;
    top: 268px;
    transform: translateX(100%);
  }
  
  /* Letter blocks - C (second) - bottom middle */
  .letter-group-c2 {
    right: auto;
    left: 120px;
    top: 10px;
  }
  
  .letter-block-c2 {
    height: 52px;
    width: 52px;
    right: auto;
    left: 155px;
    top: 305px;
  }
  
  .letter-text-c2 {
    right: auto;
    left: 168px;
    top: 310px;
    transform: translateX(0);
  }
  
  /* Letter blocks - X - bottom right */
  .letter-group-x {
    right: 20px;
    left: auto;
    top: 10px;
  }
  
  .letter-block-x {
    height: 52px;
    width: 52px;
    right: 20px;
    left: auto;
    top: 288px;
  }
  
  .letter-text-x {
    right: 54px;
    left: auto;
    top: 290px;
    transform: translateX(100%);
  }
  
  /* Bottom decorations */
  .bottom-decoration-1 {
    height: 55px;
    width: 40px;
    right: 80px;
    left: auto;
    top: 250px;
  }
  
  .bottom-block-1 {
    height: 55px;
    width: 40px;
  }
  
  .bottom-decoration-2 {
    height: 48px;
    width: 75px;
    right: auto;
    left: 150px;
    top: 300px;
  }
  
  .block-container-2 {
    right: 350px;
    left: auto;
    top: 265px;
  }
  
  /* All letter text */
  .letter-text {
    font-size: 26px;
  }
  
  .letter-text-rotated {
    transform: rotate(20deg);
  }
}
